<!-- Left pane (call list) -->
<%- include("../partials/call-list.ejs", {calls:callList}) %>


<!-- Client details pane -->
<div class="grid_col_2">
    <div class="margin_t_l margin_l_l">
        <!-- Details header -->
        <div class="flex flex-ai-c flex-jc-sb">
            <p id="client_name" class="size_small bold"> <%= details.client.name %> </p>
            <button class="button_primary"> Edit </button>
        </div>

        <div class="details_grid pad-t-med pad-l-med">
            <div class="grid_a_1">
                <!-- Address details -->
                <%- include("../partials/clientDetails/_list_layout", {details:{type:"address", data:details.addresses}}) %>
                <!-- Contact details -->
                <%- include("../partials/clientDetails/_list_layout", {details:{type:"contact", data:details.contacts}}) %>
            </div>
            <div class="gird_a_2">
                <!-- Call date details -->
                <%- include("../partials/clientDetails/_list_layout", {details:{type:"call", data:details.calls}}) %>
                <!-- Comments -->
                <%- include("../partials/clientDetails/_comment", {comments:details.client.comments}) %>
            </div>
            <!-- Services -->
            <div class="grid_a_3_4">
                <div class="client_details">
                    <p class="color_primary size_small"> Services </p>
                    <hr class="line_header">
                </div>
                <div class="list_container margin_t_med margin_l_med">
                    <ul id="service_list">
                        <li> A goody </li>
                        <li> Marvelous </li>
                        <li> Yeap </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>