<!-- Left pane (call list) -->
<%- include("../partials/call-list.ejs", {calls:callList}) %>

<div class="grid_col_2">
    <div class="margin_t_l margin_l_l">
        <!-- Details header -->
        <h2 class="size_small bold"> Edit </h2>

        <form action= "/clients/edit-contact/<%= contact.id %>-<%= contact.client_id %>" method="POST" class="pad-t-med pad-l-med">
            <% const data = {name:contact.name, phone:contact.phone, email:contact.email} %>
            <%- include("../partials/inputForms/contact", data) %>

            <div class="flex flex-ai-c flex-jc-r">
                <button type="submit" class="button_primary margin_r_sm"> Submit </button>
                <a href="/clients/<%= contact.client_id %>" class="button button_secondary button_cancel"> Cancel </a>
            </div>
        </form>
    </div>
</div>