<script type="module" src="/js/clientListScript.js"> </script>

<!-- Add Client popup -->
<div id="addClientOverlay" class="overlay"></div>

<div id="addClientPopup" class="addClientPopup">
    <div class="flex flex-ai-c flex-jc-sb">
        <h3 > Add Customer </h3> <br />
        <span id="addClientCloseButton" class="close_form"></span>
    </div>
    <br />
    <form action= "/clients/add-client" method="POST">
        <%- include("../inputForms/client") %>
        <label> Comments: </label> <br />
        <textarea name="comments" class="height-100" cols="21" rows="6"><%= locals.comments %></textarea> <br /> <br />

        <div class="center-x">
            <label> Call back on: </label> <br />
            <%- include("../inputForms/call") %>
            <br />
            <button type="submit" class="button_primary"> Submit </button>
        </div>
    </form>
</div>

<!-- Left Pane -->
<div id="leftPane" name="test" class="grid_col_1 section_divider_clientList">
    <div class="pad-t-med pad-r-sm">
        <!-- Add customer button and search bar -->
        <button id="addClientPopupButton" type="button" class="button button_primary width-100"> Add Client </button>
        <!-- Error message for duplicate client entry -->
        <p class="error_message size_small"> <%= locals.error %> </p>

        <form id="searchForm" action="/clients/search" method="GET">
            <input id="searchBar" name="search" type="text" class="search_bar" autoComplete="off" placeholder=" Search...">
        </form>
        <br />

        <!-- list header -->
        <p class="size_small"> 
            <% if(SEARCH.length > 0) { %> 
                <div class="flex flex-ai-c flex-jc-sb">
                    Search: <%= SEARCH %> 
                    <form id="cancelSearchForm" action="/clients/clear-search" method="GET">
                        <button type="submit"><span class="close_form"></span></button>
                    </form>
                </div>
            <% } else { %>
                Client List
            <% } %>
        </p>
        <hr class="line_header">

        <!-- list -->
        <div class="inner_section">
            <ul id="cList">
                <% let list; if (SEARCH.length > 0) { list = SEARCH_LIST } else { list = locals.clients }; %>
                <% for (let i = 0; i < list.length; i++) { %>
                    <li><a href=<%="/clients/" + list[i].id%> class="color_secondary"> <%= list[i].name %> </a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>