<script type="module" src="/js/clientListScript.js"> </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add client popup -->
<div id="addClientPopup" class="hidden popup" style="margin-left: 50%;">
    <div class="flex flex-ai-c flex-jc-sb">
        <h3 class="italic"> Add Customer </h3> <br />
        <span id="addClientCloseButton" class="close_form"></span>
    </div>
    <br />
    <form action= "/clients/add-client" method="POST">
        <%- include("../inputForms/client") %>
        <label> Comments: </label> <br />
        <textarea name="comments" class="height-100 width-100" cols="21" rows="6"><%= locals.comments %></textarea> <br /> <br />

        <div class="center-x">
            <label> Call back on: </label> <br />
            <%- include("../inputForms/call") %>
            <br /> <br />
            <button type="submit" class="button_primary"> Submit </button>
        </div>
    </form>
</div>

<!-- Left Pane -->
<div id="leftPane" name="test" class="grid_col_1 section_divider_clientList">
    <div class="pad-t-med pad-r-sm">
        <!-- Error message for duplicate client entry -->
        <p class="error_message size_small"> <%= locals.error %> </p>

        <!-- list header -->
        <p class="size_small"> 
            <% if(typeof locals.search != 'undefined' && locals.search.length > 0) { %> 
                <div class="flex flex-ai-c flex-jc-sb">
                    Search: <%= locals.search %> 
                    <a href="/clients/"><span class="close-button">&times</span></span></a>
                </div>
            <% } else { %>
                Client List
            <% } %>
        </p>
        <hr class="line_header">

        <!-- list -->
        <div class="margin_t_sm">
            <ul id="cList"></ul>
            <button id="clientsLoadMore" data-list="clientList"> Load more... </button>
        </div>
    </div>
</div>