<!-- Client popups for the callList
     Different input options for the Call, TBC, and Confirmed lists -->

<form id=<%= "clientPopup-" + locals.client.rId %> class="clientPopup" action="/set-client-status-<%= locals.client.id %>-<%= locals.client.rId %>" method="POST">
    <!-- Header -->
    <div class="flex flex-ai-c flex-jc-sb margin_b_sm margin_t_sm">
        <div class="flex flex-ai-c">
            <p class="bold size_small pad-r-sm"> <%= locals.client.name + " (" +locals.client.rDate.toLocaleDateString('en-GB') + ")" %> </p>
            <button class="button_secondary" type="button"> Make booking </button>
        </div>
        <span id="<%= locals.client.rId %>" name="clientPopupClose" class="close-button">&times</span>
    </div>

    <div class="">
        <% if (locals.client.status != "completed") { %>
            <!-- Action inputs -->
            <p class="bold size_v_small"> Action </p>
            <input type="radio" name="action" class="revealCallOutcomes" value="call">
            <label> Call </label> 
            <input type="radio" name="action" value="text">
            <label> Text </label> 
            <input type="radio" name="action" value="email">
            <label> Email </label>
            <input type="radio" name="action" value="ignore">
            <label> Ignore </label>
            <br /> <br />
        <% } %>

        <div <% if (locals.client.status == "pending" || locals.client.status == "completed") { %> class="hidden callOutcomes" <% } %> >
            <p class="bold size_v_small"> Response </p>
            <input type="radio" name="outcome">
            <label> Booked </label>
            <input type="radio" name="outcome">
            <label> Call back later </label>
            <input type="radio" name="outcome">
            <label> Declined </label>
            <input type="radio" name="outcome">
            <label> No answer </label>        
            <br /> <br />
        </div>

        <!-- Add notes -->
        <label> Add note: </label> <br />
        <div class="flex flex-jc-c">
            <textarea name="comments" style="width: 260px;" cols="27" rows="3"><%= locals.client.comments %></textarea>
        </div>
        <br />
        <!-- Previous notes -->
        <p class="bold size_v_small"> Previous notes </p>
        <ul class="commentsList">
            <li> 02/12/21 - Some comments </li>
            <li> 02/12/21 - Some comments </li>
            <li> 02/12/21 - Some loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooonger comments </li>
            <li> Some more comments </li>
        </ul>
        <br />
        <% if (locals.client.status == "awaiting" || locals.client.status == "followUp") { %>
            <!-- Previous interactions, shown in awaiting, and follow up lists -->
            <p class="bold size_v_small"> Previous interactions </p>
            <ul class="commentsList">
                <li> 02/12/21 - Called </li>
                <li> 02/12/21 - Text </li>
                <li> 02/12/21 - Emailed </li>
                <li> 02/12/21 - Text </li>
            </ul>
            <br />
        <% } %>

        <!-- Call date for call and tbc popups, initially hidden
        <% if (locals.client.status == "call" || locals.client.status == "tbc") { %>
            <br />
            <div class="hidden">
                <label> Call back on: </label> <br />
                <div style="text-align: center ;">
                    <input id=<%= "datebox-" + locals.client.rId %> required type="date" name="rDate" data-defaultdate="<%= rDateToHTMLDate(locals.client.rDate.toLocaleDateString('en-GB')) %>" value="<%= rDateToHTMLDate(locals.client.rDate.toLocaleDateString('en-GB')) %>"> <br />
                </div>
                <br />
            </div>
        <% } %>
        -->

        <!-- Client details link and Submit button -->
        <div style="text-align: center;">
            <a href=<%="/clients/?clientID=" + locals.client.id%> class="color_secondary"> Client Details </a>
            <br /> <br />
            <button type="submit" class="button_primary"> Submit </button>
        </div>
    </div>
</form>

<%
function rDateToHTMLDate(rDate) {
    let y = rDate.slice(-4);
    let m = rDate.slice(-7, -5);
    let d = rDate.slice(0, 2);

    if(Number.isNaN(Number(d))) {
        d = "0" + d.slice(0, 1);
    }
    return y + "-" + m + "-" + d;
}
%>