<!-- Client popups for the callList
     Different input options for the Call, TBC, and Confirmed lists -->

<form id=<%= "clientPopup-" + locals.client.rId %> class="clientPopup" action="/set-client-status-<%= locals.client.id %>-<%= locals.client.rId %>" method="POST">
    <!-- Header -->
    <div class="flex flex-ai-c flex-jc-sb margin_b_sm margin_t_sm">
        <p class="bold size_small"> <%= locals.client.name + " (" +locals.client.rDate.toLocaleDateString('en-GB') + ")" %> </p>
        <span id="<%= locals.client.rId %>" name="clientPopupClose" class="close-button">&times</span>
    </div>

    <div class="">
        <!-- Action inputs -->
        <p class="bold size_v_small"> Action </p>
        <% if (locals.client.status == "pending") { %>
            <input type="radio" name="action" class="revealCallOutcomes" value="call">
            <label> Call </label> 
            <input type="radio" name="action" value="text">
            <label> Text </label> 
            <input type="radio" name="action" value="email">
            <label> Email </label>
            <input type="radio" name="action" value="ignore">
            <label> Ignore </label>

        <% } else if (locals.client.status == "tbc") { %>
            <input id=<%= "declinebox2-" + locals.client.rId %> type="radio" name="clientStatus" class="revealCallDate" value="call">
            <label> Declined </label> <br />
            <input id=<%= "confirmbox2-" + locals.client.rId %> type="radio" name="clientStatus" class="revealCallDate" value="confirmed">
            <label> Confirmed </label>

        <% } else if (locals.client.status == "confirmed") { %>
            <input type="radio" name="clientStatus" value="call">
            <label> Call </label> <br />
            <input type="radio" name="clientStatus" value="tbc">
            <label> To be confirmed </label> <br />
        <% } %>

        <br /> <br /> 

        <div class="hidden callOutcomes">
            <p class="bold size_v_small"> Outcome </p>
            <input type="radio" name="outcome">
            <label> Booked </label>
            <input type="radio" name="outcome">
            <label> Call back later </label>
            <input type="radio" name="outcome">
            <label> Declined </label>
            <input type="radio" name="outcome">
            <label> No answer </label>        
            <br /> <br />
            <!-- Add comment -->
            <label> Add note: </label> <br />
            <div class="flex flex-jc-c">
                <textarea name="comments" style="width: 260px;" cols="27" rows="6"><%= locals.client.comments %></textarea>
            </div>
        </div>

        <br/>


        <!-- Call date for call and tbc popups, initially hidden
        <% if (locals.client.status == "call" || locals.client.status == "tbc") { %>
            <br />
            <div class="hidden">
                <label> Call back on: </label> <br />
                <div style="text-align: center ;">
                    <input id=<%= "datebox-" + locals.client.rId %> required type="date" name="rDate" data-defaultdate="<%= rDateToHTMLDate(locals.client.rDate.toLocaleDateString('en-GB')) %>" value="<%= rDateToHTMLDate(locals.client.rDate.toLocaleDateString('en-GB')) %>"> <br />
                </div>
                <br />
            </div>
        <% } %>
        -->

        <!-- Client details link and Submit button -->
        <div style="text-align: center;">
            <a href=<%="/clients/?clientID=" + locals.client.id%> class="color_secondary"> Client Details </a>
            <br />
            <button type="submit" class="button_primary"> Submit </button>
        </div>
    </div>
</form>

<%
function rDateToHTMLDate(rDate) {
    let y = rDate.slice(-4);
    let m = rDate.slice(-7, -5);
    let d = rDate.slice(0, 2);

    if(Number.isNaN(Number(d))) {
        d = "0" + d.slice(0, 1);
    }
    return y + "-" + m + "-" + d;
}
%>