<!-- INPUT: details
Is a an object that contains lists of each database table
ie. details.client is an object
    details.addresses, contacts, and calls are lists of objects
-->

<div class="clientListDisplay">
    <!-- Clients Header -->
    <%- include("../partials/clients/clientsHeader") %>
    <!-- Client List (Left pane) -->
    <%- include("../partials/clients/client-list.ejs") %>

    <div class="grid_col_2 clientDetailsDiv">
        <!-- Edit client popup -->

        <!-- Details header -->
        <div class="flex flex-ai-c flex-jc-sb">
            <p id="cdName" class="size_large bold"></p>
            <div class="flex flex-ai-c">
                <span id="editClientButton" class="size_medium link"> Edit </span>
                <span style="color: rgb(165, 53, 53);" class="size_medium link margin_l_sm"> Delete </span>
            </div>
        </div>
        <p id="cdCompany" class="italic"></p>

        <!-- Page Tabs -->
        <div class="margin_t_med margin_b_sm flex flex-ai-c tabs">
            <button id="cdSummaryTab" class="tabLink">Summary</button>
            <!--<button id="cdApptTab" class="tabLink">Appointments (0)</button>
            <button id="cdReminderTab" class="tabLink">Reminders (0)</button>-->
        </div>

        <!-- Summary tab content -->
        <div id="cdSummaryDiv" class="tabContent">
            <!-- Contact and address details -->
            <div class="cdSection">
                <div class="flex flex-ai-c">
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Telephone </span>
                        <span id="cdTelephone" class="cdSectionValue"></span>
                    </div>
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Street </span>
                        <span id="cdStreet" class="cdSectionValue"></span>
                    </div>
                </div>
                <div class="flex flex-ai-c">
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Mobile </span>
                        <span id="cdMobile" class="cdSectionValue"></span>
                    </div>
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Suburb </span>
                        <span id="cdSuburb" class="cdSectionValue"></span>
                    </div>
                </div>
                <div class="flex flex-ai-c">
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Email </span>
                        <span id="cdEmail" class="cdSectionValue"></span>
                    </div>
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> City </span>
                        <span id="cdCity" class="cdSectionValue"></span>
                    </div>
                </div>
                <div class="flex flex-ai-c">
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Date created </span>
                        <span id="cdCreated" class="cdSectionValue"></span>
                    </div>
                    <div class="cdSectionRow"> 
                        <span class="cdSectionItem"> Postcode </span>
                        <span id="cdPostcode" class="cdSectionValue"></span>
                    </div>
                </div>
                <div class="cdSectionRow"> 
                    <span class="cdSectionItem"> Next reminder </span>
                    <span id="cdNextReminder" class="cdSectionValue"> to do </span>
                </div>
            </div>

            <div class="flex flex-ai-c">
                <span class="margin_l_sm"> Notes </span>
                <div id="cdAddNoteButton" class="add-icon">+</div>
            </div>
            <!-- Notes -->
            <div class="cdSection">

            </div>
            
            <!--
            <span class="margin_l_sm"> Appointments </span>
            !-- Appointments --
            <div class="cdSection">

            </div>
            -->
        </div>

        <!-- Appointment tab content -->
        <div id="cdApptsDiv" class="tabContent">

        </div>

        <!-- Reminder tab content -->
        <div id="cdRemindersDiv" class="tabContent">
            
        </div>
    </div>

    <% if (typeof locals.details != 'undefined' && locals.details != null) { %>
        <!--<script type="module" src="/js/clientDetailsScript.js"> </script>-->
        <!-- Client details pane -->
        <div class="grid_col_2">
            <div class="margin_t_l margin_l_l">
                <!-- Edit client popup -->
                <div id="cliFormPopup" class="hidden popup">
                    <form action="/clients/<%=details.client.id%>/editClient" method="POST">
                        <div class="flex flex-ai-c flex-jc-sb">
                            <h3 class="italic"> Edit Customer </h3> <br />
                            <span id="editClientCloseButton" class="close_form"></span>
                        </div>
                        <br />
                        <%- include("../partials/inputForms/client", {name:details.client.name, company:details.client.company}) %>
                        <label> Comments: </label> <br />
                        <textarea name="comments" class="height-100 width-100" cols="21" rows="6"><%= details.client.comments %></textarea> <br /> <br />
                        <div class="center-x">
                            <button type="submit" class="button_primary"> Submit </button>
                        </div>
                    </form>
                </div>

                <!-- Details header -->
                <div class="flex flex-ai-c flex-jc-sb">
                    <p id="client_name" class="size_medium bold"> <%= details.client.name %> </p>
                    <div class="flex flex-ai-c">
                        <button type="button" id="editClientButton" class="button_primary"> Edit </button>
                        <form onsubmit="confirmDelete(event)" action="<%= details.client.id %>/delete-client?_method=DELETE" method="POST">
                            <button type="submit" class="button_primary button_primary_red margin_l_sm"> Delete </button>
                        </form>
                    </div>
                </div>
                <p class="italic"> <%= locals.details.client.company %> </p>

                <div class="details_grid pad-t-med pad-l-med">
                    <div class="grid_a_1">
                        <!-- Address details -->
                        <!-- Header -->
                        <div class="flex flex-ai-c flex-jc-sb margin_b_sm">
                            <p class="color_primary size_small"> Address </p>
                            <button id="addAddressBut" type="button" class="button_secondary"> Add </button>
                        </div>
                        <hr class="line_header">

                        <!-- Address list -->
                        <div class="list_container margin_t_sm margin_l_sm">
                            <ul>
                                <%- include("../partials/clients/clientDetails/_address", {data:details.addresses, client_id:details.client.id}) %>
                            </ul>
                        </div>
                    </div>

                    <div class="grid_b_1">
                    <!-- Contact details -->
                        <!-- Header -->
                        <div class="flex flex-ai-c flex-jc-sb margin_b_sm">
                            <p class="color_primary size_small"> Contacts </p>
                            <button id="addContactBut" type="button" class="button_secondary"> Add </button>
                        </div>
                        <hr class="line_header">

                        <!-- Contacts list -->
                        <div class="list_container margin_t_sm margin_l_sm">
                            <ul>
                                <%- include("../partials/clients/clientDetails/_contact", {data:details.contacts, client_id:details.client.id}) %>   
                            </ul>
                        </div>
                    </div>
                    <div class="grid_a_2">
                        <!-- Call date details -->
                        <!-- Header -->
                        <div class="flex flex-ai-c flex-jc-sb margin_b_sm">
                            <p class="color_primary size_small"> Call dates </p>
                            <button id="addDateBut" type="button" class="button_secondary"> Add </button>
                        </div>
                        <hr class="line_header">

                        <!-- Call date list -->
                        <div class="list_container margin_t_sm margin_l_sm">
                            <ul>
                                <%- include("../partials/clients/clientDetails/_call", {data:details.calls, client_id:details.client.id}) %>   
                            </ul>
                        </div>
                    </div>

                    <div class="grid_b_2">
                        <!-- Comments -->
                        <div class="flex flex-ai-c flex-jc-sb margin_b_sm">
                            <p class="color_primary size_small"> Comments </p>
                            <button id="editCommentButton" type="button" class="button_secondary"> Edit </button>
                        </div>
                        <hr class="line_header">

                        <!-- Edit comments popup -->
                        <div id="commentEditPopup" class="hidden popup">
                            <form action="/clients/edit-comments/<%= details.client.id %>" method="POST">
                                <div class="flex flex-jc-r">
                                    <span id="commentCancelPopupButton" class="close_form"></span>
                                </div>
                                <textarea name="comments" class="height-100" cols="33" rows="6"><%= details.client.comments %></textarea>

                                <div class="center-x">
                                    <button type="submit" class="button_secondary"> Submit </button>
                                </div>
                            </form>
                        </div>
                    
                        <!-- Actual comments -->
                        <div class="list_container margin_t_sm margin_l_sm">
                            <div style="width: 500px; white-space: pre-line; overflow-wrap: break-word;"> <%= details.client.comments %> </div>
                        </div>
                    </div>
                    <!-- Services -->
                </div>
            </div>
        </div>
    <% } %>
</div>