<script type="module" src="/js/importClientsScript.js"> </script>

<div class="clientListDisplay">
    <!-- Left pane, import input -->
    <div class="grid_col_1 section_divider_clientList pad-t-med pad-r-sm">
        <h3 class="italic"> Import Clients </h3>
        <br />
        <form id="clientImportForm" action="/clients/import-clients" enctype="multipart/form-data" method="post">
            <label class="size_v_small"> Upload Client Excel File: </label> <br />
            <input id="clientImportFile" type="file" name="importExcel" class="clientsFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </form>
    </div>

    <div class="grid_col_2 margin_t_l margin_l_l">
        <div style="height: 90vh;overflow:auto;">
            <!-- Import Info -->
            <p> Make sure your Excel file contains the following headers: <span class="text_reference"> Full name, Company, Email, Mobile, Phone, Street, Suburb, 
                City, Postcode, ReminderDate </span>. You can download a template <a href="/files/importTemplate.xlsx" class="link" download> here </a>. 
                The <span class="text_reference"> First </span> column can not be left empty. If a reminder date is not provided the client will be uploaded without one, 
                and will  not appear in the <a href="/" class="link"> Reminders List </a> 
            </p> <br />
            <!--
            <p> In order to make sure the reminder date is uploaded correctly, please make sure the <span class="text_reference"> ReminderDate </span>
                column values are 'General' in Excel, and in the formate: <span class="italic"> 04-Feb-2022, 04-02-2022, or 4/2/2022 </span>. To prevent Excel from automatically converting the input to a 
                Date value, type a single qoute (') infront of your input, eg. <span class="italic"> '04-Feb-2022 </span> will make sure the date remains a 'General' value.
            </p> <br /> -->
            <!-- Import Results -->
            <p class="error_message"> <%= locals.error %> </p>

            <% if (typeof locals.successes != 'undefined') { %>
                <% const message = locals.successes + "/" + locals.total + " clients successfully uploaded." %>
                <% if(locals.successes == locals.total) { %> <p class="success_message"> <%= message %> </p> <% }
                else if(locals.successes > 0) { %> <p class="yellow_message"> <%= message %> </p> <% }
                else { %> <p class="error_message"> <%= message %> </p> <% }
                %>
            <% } %>
            <br />

            <% if (typeof locals.duplicates != 'undefined') { 
                let dupLength = locals.duplicates.length;
                if (dupLength > 0) { %>
                    <p> There were <span class="yellow_message"> <%= dupLength %> </span> clients with duplicate names already in database: </p>
                    <div class="inner_section">
                        <% for (let i = 0; i < dupLength; i++) { %>
                            <p> <%= duplicates[i] %> </p>
                        <% } %>
                    </div>
                    <br />
                <% } %>
            <% } %>

            <% if (typeof locals.noReminderDate != 'undefined') {
                let noReminderLength = locals.noReminderDate.length;
                if (noReminderLength > 0) { %>
                    <p> There were <span class="yellow_message"> <%=noReminderLength %> </span> clients with no reminder date provided </p>
                    <div class="inner_section">
                        <% for (let i = 0; i < noReminderLength; i++) { %>
                            <p> <%= noReminderDate[i] %> </p>
                        <% } %>
                    </div>
                    <br />
                <% } %>
            <% } %>

            <% if (typeof locals.incorrectReminders != 'undefined') {
                let incorrectLength = locals.incorrectReminders.length;
                if (incorrectLength > 0) { %>
                    <p> There were <span class="yellow_message"> <%= incorrectLength %> </span> clients with an incorrect reminder date format, these clients have been uploaded wothout a reminder date </p>
                    <div class="inner_section">
                        <% for (let i = 0; i < incorrectLength; i++) { %>
                            <p> <%= incorrectReminders[i] %> </p>
                        <% } %>
                    </div>
                    <br />
                <% } %>
            <% } %>

            <% if (typeof locals.fails != 'undefined') {
                let failLength = locals.fails.length;
                if (failLength > 0) { %>
                    <p> Other errors <span class="error_message"> <%= '(' + failLength + ')' %> </span> </p>
                    <div class="inner_section">
                        <% for (let i = 0; i < failLength; i++) { %>
                            <p> <%= fails[i].name + ' - ' + fails[i].message %> </p>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>