<!-- Add popup -->
<div id="addCallPopup" class="hidden popup">
    <form class="flex flex-ai-c" action="/clients/add-reminder/<%= client_id %>" method="POST">
        <%- include("../../inputForms/call") %>
        <button type="submit" class="button_secondary margin_l_l margin_r_sm"> Submit </button>
        <span id="dateCloseAddForm" class="close_form"></span>
    </form>
</div>

<% for (let i=0; i < data.length; i++) { %>
    <li>
        <!-- Edit popup -->
        <div id="<%= "rDateEditPopup-" + data[i].id %>" class="hidden popup">
            <form class="flex flex-ai-c" action="/clients/edit-reminder/<%= data[i].id %>-<%= data[i].client_id %>" method="POST">
                <%- include("../../inputForms/call", { date:rDateToHTMLDate(data[i].rDate)}) %>
                <button type="submit" class="button_secondary margin_l_l margin_r_sm"> Submit </button>
                <span id="<%= data[i].id %>" name="rDateCancelPopupButton" class="close_form"></span>
            </form>
        </div>

        <div class="flex flex-ai-c flex-jc-sb">
            <p> <%=data[i].rDate%> </p>

            <%- include("../../confirmDelete") %>

            <form onsubmit="confirmDelete(event)" action="/clients/delete-date/<%= data[i].client_id %>-<%= data[i].id %>?_method=DELETE" method="POST" class="flex flex-ai-c">
                <button id="<%= data[i].id %>" name="rDateEditButton" type="button" class="button_secondary"> Edit </button>
                <button type="submit" class="close-button"><span class="close_form"></span></button>
            </form>
        </div> 
    </li>
<% } %>

<%
function rDateToHTMLDate(rDate) {
    let y = rDate.slice(-4);
    let m = rDate.slice(-7, -5);
    let d = rDate.slice(0, 2);

    if(Number.isNaN(Number(d))) {
        d = "0" + d.slice(0, 1);
    }
    return y + "-" + m + "-" + d;
}
%>