<div id="filterPopup-<%= locals.list %>" class="hidden popup popup-filter">
    <div class="popupHeaderDiv">
        <h3 style="text-align: center;"> Filter </h3>
        <span id="filterPopupClose-<%= locals.list %>" class="close-button">&times</span>
    </div>
    <br />
    <form id="filterForm-<%= locals.list %>">
        <p class="popupHeader2"> Date range: </p>
        <div class="flex flex-ai-c">
            <!-- Maybe use class names instead of ids to grab in js, instead of adding list name to id dynamically -->
            <select name="dateRangeInput" class="margin_r_sm rDateRangeFilter" value="month">
                <option value="all" <% if (locals.list == "followUp") { %>selected<% } %>>All</option>
                <option value="month" <% if (locals.list == "pending") { %>selected<% } %>>Month</option>
                <option value="custom">Custom</option>
            </select>
            <input class="rMonthInput <% if (locals.list == "followUp") { %>hidden<% } %>" type="month" name="rMonth" value="<%= locals.month %>">
            <div class="hidden rCustomInput">
                <input id="start" type="date" name="d1" value="<%= locals.d1 %>">
                <span class="size_v_small"> to </span>
                <input id="end" type="date" name="d2" value="<%= locals.d2 %>">
            </div>
        </div>
        <!-- Order by -->
        <p class="popupHeader2"> Order by: </p>
        <select id="rOrderInput" name="orderByInput">
            <option value="name"> Name </option>
            <option value="rDate" selected> Reminder date </option>
            <% if(locals.list == "followUp") { %>
                <option value="status" selected> Status </option>
            <% } %>
        </select> <br />
        <!-- Filter by status for folowUp list -->
        <% if(locals.list == "followUp") { %>
            <p class="popupHeader2"> Status: </p>
            <input id="filterFollowUps" type="checkbox" name="followUp" checked>
            <label for="filterFollowUps"> Requires follow up </label>
            <input id="filterNoAns" type="checkbox" name="noAns" checked>
            <label for="filterNoAns"> No answer </label>
            <br />
        <% } %>
    </form>
    <!-- Submit button -->
    <div style="justify-content: center;" class="flex flex-jc-sb margin_t_sm">
        <button id="filterButton-<%= locals.list %>" class="button_primary" type="button"> Submit </button>
    </div>
</div>