<div id="filterPopup-<%= locals.list %>" class="hidden popup popup-filter">
    <div class="popupHeaderDiv">
        <h3 style="text-align: center;"> Filter </h3>
        <span id="filterPopupClose-<%= locals.list %>" class="close-button">&times</span>
    </div>
    <br />
    <form id="">
        <p class="popupHeader2"> Date range: </p>
        <div class="flex flex-ai-c">
            <!-- Maybe use class names instead of ids to grab in js, instead of adding list name to id dynamically -->
            <select id="rDateRangeFilter" class="margin_r_sm">
                <option value="month">Month</option>
                <option value="custom">Custom</option>
            </select>
            <input id="rMonthInput" type="month" name="rMonth" value="<%= locals.month %>">
            <div id="rCustomInput" class="hidden">
                <input id="start" type="date" name="rMonth" value="<%= locals.d1 %>">
                <span class="size_v_small"> to </span>
                <input id="end" type="date" name="rMonth" value="<%= locals.d2 %>">
            </div>
        </div>
    </form>
</div>