
<!--<h3> Address: </h3> <br />-->
<label> Street: </label> <br />
<input id="formStreet" type="text" name="street" value="<%= locals.street %>"> <br /><br />
<label> Suburb: </label> <br />
<input type="text" name="suburb" value="<%= locals.sub %>"> <br /><br />
<label> City: </label> <br />
<input type="text" name="city" value="<%= locals.city %>"> <br /><br />
<label> Postcode: </label> <br />
<input type="text" name="pc" value="<%= locals.pc %>"><br /><br />
<label> Area: </label> <br />
<input type="text" name="area" value="<%= locals.area %>"><br />

<br />
