<script type="module" src="/js/callListScript.js"> </script>

<div class="callListTemp">
    <!-- Call List Header -->
    <form class="grid_col_1 margin_t_med margin_b_med" id="datesForm" action="/setDates" method="GET">
        <div class="flex flex-ai-c">
            <div>
                <input class="margin_r_sm" id="date1_input" type="date" name="date1" value="<%= D1 %>">
                to
                <input class="margin_l_sm" id="date2_input" type="date" name="date2" value="<%= D2 %>">
            </div>
            <button class="button_secondary margin_l_sm" type="submit"> Set </button>
        </div>
    </form>

    <!-- Call List -->
    <div class="grid_col_1">
        <!-- Header -->
        <p class="flex flex-jc-c color_primary size_medium"> Call List </p>
        <hr />
        
        <div class="inner_section">
            <ul id="cList" class="section_divider_callList">
                <% for (let i = 0; i < CLIENT_LIST.length; i++) { %>
                    <li class="positionRelative"> 
                        <!-- Name button that appears in lists, brings up popup -->
                        <%- include("../partials/callList/callList-popupButton", {client: CLIENT_LIST[i]}) %>
                        
                        <!-- Client Popup -->
                        <%- include("../partials/callList/callList-popup", {client: CLIENT_LIST[i]}) %>
                    </li>
                <% } %>
            </ul>
        </div>

    </div>

    <!-- To Be Confirmed -->
    <div class="grid_col_2">
        <!-- Header -->
        <p class="flex flex-jc-c color_primary size_medium"> To be confirmed </p>
        <hr />
        <div class="inner_section section_divider_callList">
            <ul id="tbcList">
                <% for (let i = 0; i < TBC_LIST.length; i++) { %>
                    <li class="positionRelative"> 
                        <!-- Name button that appears in lists, brings up popup -->
                        <%- include("../partials/callList/callList-popupButton", {client: TBC_LIST[i]}) %>
                        
                        <!-- Client Popup -->
                        <%- include("../partials/callList/callList-popup", {client: TBC_LIST[i]}) %>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

    <!-- Confirmed -->
    <div class="grid_col_3">
        <!-- Header and clear button-->
        <div class="flex flex-ai-c flex-jc-r"> 
            <div class="flex flex-ai-c flex-jc-sb confirmed_width">
                <p class="color_primary size_medium"> Confirmed </p> 
                <form action="/clients/reset-confirmed-list" method="POST" class="flex flex-jc-r"> 
                    <button type="submit" class="button_clear"> Clear </button> 
                </form> 
            </div>
        </div>
        <hr />
        <div class="inner_section section_divider_confirmedList">
            <ul id="confirmedList">
                <% for (let i = 0; i < CONFIRMED_LIST.length; i++) { %>
                    <li class="positionRelative"> 
                        <!-- Name button that appears in lists, brings up popup -->
                        <%- include("../partials/callList/callList-popupButton", {client: CONFIRMED_LIST[i]}) %>
                        
                        <!-- Client Popup -->
                        <%- include("../partials/callList/callList-popup", {client: CONFIRMED_LIST[i]}) %>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>