<!-- Add address form -->
<form id="addAddressPopup" class="popup" action="/clients/add-address-<%=client_id%>" method="POST">
    <%- include("../inputForms/address") %>
    <div class="flex flex-ai-c flex-jc-r">
        <button type="submit" class="button_primary margin_r_sm"> Submit </button>
        <button id="addressCloseAddFormButton" type="button" class="button_secondary button_cancel"> Cancel </button>
    </div>
</form>

<% for (let i=0; i < data.length; i++) { %>
    <li>
        <div class="flex flex-ai-c flex-jc-sb">
            <p> <%=data[i].street%> </p>
            <div id="test" class="flex flex-ai-c">
                <a href="/clients/edit-address/<%= data[i].id %>" class="button button_secondary"> Edit </a>
                <form action="/clients/delete-address/<%= data[i].client_id %>-<%= data[i].id %>?_method=DELETE" method="POST">
                    <button type="submit"><span class="close_form"></span></button>
                </form>
            </div>
        </div> 
    </li>
<% } %> 