<% for (let i=0; i < data.length; i++) { %>
    <li>
        <!-- Add popup -->
        <div id="addCallPopup" class="popup">
            <form class="flex flex-ai-c flex-jc-sb" action="/clients/add-reminder/<%= data[i].client_id %>" method="POST">
                <%- include("../inputForms/call") %>
                <div>
                    <button type="submit" class="button_secondary"> Submit </button>
                    <button id="dateCloseAddForm" type="button" class="button_secondary button_cancel"> Cancel </button>
                </div>
            </form>
        </div>

        <!-- Edit popup -->
        <div id="<%= "rDateEditPopup-" + data[i].id %>" class="popup">
            <form class="flex flex-ai-c flex-jc-sb" action="/clients/edit-reminder/<%= data[i].id %>-<%= data[i].client_id %>" method="POST">
                <%- include("../inputForms/call", { date:rDateToHTMLDate(data[i].rDate)}) %>
                <div>
                    <button type="submit" class="button_secondary"> Submit </button>
                    <button id="<%= data[i].id %>" name="rDateCancelPopupButton" type="button" class="button_secondary button_cancel"> Cancel </button>
                </div>
            </form>
        </div>

        <div class="flex flex-ai-c flex-jc-sb">
            <p> <%=data[i].rDate%> </p>
            <div class="flex flex-ai-c">
                <button id="<%= data[i].id %>" name="rDateEditButton" type="button" class="button_secondary"> Edit </button>
                <form action="/clients/delete-date/<%= data[i].client_id %>-<%= data[i].id %>?_method=DELETE" method="POST">
                    <button type="submit"><span class="close_form"></span></button>
                </form>
            </div>
        </div> 
    </li>
<% } %>

<%
function rDateToHTMLDate(rDate) {
    let y = rDate.slice(-4);
    let m = rDate.slice(-7, -5);
    let d = rDate.slice(0, 2);

    if(Number.isNaN(Number(d))) {
        d = "0" + d.slice(0, 1);
    }
    return y + "-" + m + "-" + d;
}
%>