<!-- Add form -->
<form id="addContactPopup" class="popup" action="/clients/add-contact/<%=client_id%>" method="POST">
    <%- include("../inputForms/contact") %>
    <div class="flex flex-ai-c flex-jc-r">
        <button type="submit" class="button_primary margin_r_sm"> Submit </button>
        <button id="contactCloseAddFormBut" type="button" class="button_secondary button_cancel"> Cancel </button>
    </div>
</form>

<% for (let i=0; i < data.length; i++) { %>
    <li>
        <!-- Edit popup -->
        <div id="<%= "contactEditPopup-" + data[i].id %>" class="popup">
            <form action="/clients/edit-contact/<%= data[i].id %>-<%= data[i].client_id %>" method="POST">
                <%- include("../inputForms/contact", { name:data[i].name, phone:data[i].phone, email:data[i].email }) %>
                <div>
                    <button type="submit" class="button_secondary"> Submit </button>
                    <button id="<%= data[i].id %>" name="contactCancelPopupButton" type="button" class="button_secondary button_cancel"> Cancel </button>
                </div>
            </form>
        </div>

        <div class="flex flex-ai-c flex-jc-sb">
            <p> <%=data[i].phone%> </p>
            <div class="flex flex-ai-c">
                <button id="<%= data[i].id %>" name="contactEditButton" type="button" class="button_secondary"> Edit </button>
                <form action="/clients/delete-contact/<%= data[i].client_id %>-<%= data[i].id %>?_method=DELETE" method="POST">
                    <button type="submit"><span class="close_form"></span></button>
                </form>
            </div>
        </div> 
    </li>
<% } %>