<script type="module" src="/js/clientOverviewScript.js"> </script>

<div class="clientListDisplay">
    <div class="grid_col_1_s2">
        <% if (typeof locals.message != "undefined") { %>
            <% if (locals.message.includes("Succesfully")) { %>
                <p class="italic success_message"> <%= locals.message %> </p>
            <% } else { %>
                <p class="italic error_message"> <%= locals.message %> </p>
            <% } %>
        <% } %>
        <!-- Clients Header and filter popup -->
        <%- include("../partials/clientOverview/overviewHeader", { nClients:locals.nClients }) %>

        <button id="addReminderButton" type="button"> Add reminder </button>
        <button id="ovDeleteButton" type="button"> Delete </button>

        <form id="clientOverviewForm">
            <!-- Add reminder popup -->
            <div id="addReminderPopup" class="hidden popup">
                <div class="flex flex-ai-c flex-jc-sb">
                    <h3> Add Reminder </h3>
                    <span id="addReminderCloseButton" class="close_form"></span>
                </div>
                <br />
                <div style="text-align: center ;">
                    <input name="rDate" type="date"> <br /> <br />
                    <button id="addReminderSubmit" type="button" class="button_primary"> Submit </button>
                </div>
            </div>
            <div style="overflow: auto; height: 80vh;">
                <ul>
                    <% for (let i = 0; i < locals.list.length; i++) { %>
                        <li class="list_item_divider"> <input type="checkbox" name="selectedClients" value="<%= list[i].id %>"> <%= list[i].name %> </li>
                    <% } %>
                </ul>
            </div>
        </form>
    </div>
</div>